/*  your css code here. If applicable */
*
{
	margin: 0px;
}

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-wrap: wrap;
}
.verify
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	border: 2px solid black;
	border-radius: 5px;
	padding: 20px;
	gap: 20px;
}

#verification_heading
{
	font-weight: 500;
	color: #000000;
}

.container
{
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.code
{
	height: 70px;
	width: 70px;
	/* border: 1px solid black; */
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
	color: #757575;
	font-size: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text
{
	width: 50%;
	text-align: center;
	background-color: #eaeaea;
	padding: 5px 10px;
	border-radius: 5px;
}